<?xml version="1.0"?>

<launch>
	<node pkg="neo_goal_sequence_driver" type="goal_sequence_driver_server.py" ns="goal_sequence_driver" name="neo_goal_sequence_driver_server" output="screen"/>
	<node pkg="neo_goal_sequence_driver" type="goal_sequence_visualizer.py" ns="goal_sequence_driver" name="neo_goal_sequence_visualizer"/>
</launch>